{% extends main_template %}

{%- block contents -%}
<div id="main-wrapper">
  <div id="main">
    <h1>news</h1>
    <hr />
    {% if paginator.items -%}

      {{ paginator.pager() }}
      <ul>
      {% for entry in paginator.items -%}
        <li><a href="{{ request.route_url('blog_entry', id=entry.id, slug=entry.slug) }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
      {{ paginator.pager() }}

    {%- endif %}

  </div>
</div>
{%- endblock -%}
