{% extends main_template %}

{%- block contents -%}
<div id="main-wrapper" class="rightsidebar-container">
  <div id="main">
    <h1>{{ title }}</h1>
    <hr />
    <p>{{ content | safe }}</p>
  </div>
  <div id="rightsidebar">
    <div>
      {% include 'widgets/twitter.jinja2' %}
    </div>
    <div>
      {% include 'widgets/rss.jinja2' %}
    </div>
  </div>
</div>
{%- endblock -%}
